<a href="https://colab.research.google.com/github/Naquielrayne74/prograIII_2024_Semi/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "Nahun Martinez"

print("hola", nombre, ", inicial: ", nombre[0], nombre[6])

hola mundo
hola Nahun Martinez , inicial:  N M

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros intriducidos por el usuario

In [ ]:
print("ingrese el primer numero")
num1 = float(input())

print("ingrese el segundo numero")
num2 = float(input())

resp = num1 + num2
print("la suma es: ", resp)

ingrese el primer numero
2
ingrese el segundo numero
4
la suma es:  6.0

In [ ]:
#tipos de datos
num1 = 5
num2 = 5.9

nombre = "Nahun Martinez"
print(nombre[0:5], nombre[:5], nombre[-2], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Nahun Nahun e  Martinez

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero"))
if num % 2 == 0:
  print ("el numero es par", num)
else:
  print("el numero es impar")

ingrese un numero1
el numero es impar

Conversor de Fahrenheit a Celsius

In [5]:
def fahrenheit_a_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0/9.0
    return celsius
fahrenheit = float(input("Introduce la temperatura en Fahrenheit: "))
celsius = fahrenheit_a_celsius(fahrenheit)
print(f"{fahrenheit} grados Fahrenheit son {celsius:.2f} grados Celsius.")

Introduce la temperatura en Fahrenheit: 75
75.0 grados Fahrenheit son 23.89 grados Celsius.

Conversor [Fahrenheit y Celcius] a kelvin

In [6]:
def fahrenheit_a_kelvin(fahrenheit):
    kelvin = (fahrenheit - 32) * 5.0/9.0 + 273.15
    return kelvin

def celsius_a_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

escala = input("Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): ").strip().upper()
temperatura = float(input(f"Introduce la temperatura en {escala}: "))

if escala == 'F':
    kelvin = fahrenheit_a_kelvin(temperatura)
elif escala == 'C':
    kelvin = celsius_a_kelvin(temperatura)
else:
    print("Escala no v√°lida.")
    kelvin = None

if kelvin is not None:
 print(f"La temperatura en Kelvin es: {kelvin:.2f} K.")

Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): f
Introduce la temperatura en F: 75
La temperatura en Kelvin es: 297.04 K.

Ejercicio: elevar un numero al cuadrado.

In [10]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

In [2]:
num = int(input("Num: "))
print("cuadrado; ", elevarCuadrado(num, 3))

Num: 2
cuadrado;  8

USANDO FUNCIONES LAMBDA.

In [3]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [11]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos.

In [16]:
def raizCuadrada(base, exponente=0.5):
  return base**exponente


serie = [5,4,3,2,6,7,25]
resp = map(raizCuadrada, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907, 5.0]