<a href="https://colab.research.google.com/github/Naquielrayne74/prograIII_2024_Semi/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "Nahun Martinez"

print("hola", nombre, ", inicial: ", nombre[0], nombre[6])

hola mundo
hola Nahun Martinez , inicial:  N M

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros intriducidos por el usuario

In [ ]:
print("ingrese el primer numero")
num1 = float(input())

print("ingrese el segundo numero")
num2 = float(input())

resp = num1 + num2
print("la suma es: ", resp)

ingrese el primer numero
2
ingrese el segundo numero
4
la suma es:  6.0

In [ ]:
#tipos de datos
num1 = 5
num2 = 5.9

nombre = "Nahun Martinez"
print(nombre[0:5], nombre[:5], nombre[-2], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Nahun Nahun e  Martinez

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero"))
if num % 2 == 0:
  print ("el numero es par", num)
else:
  print("el numero es impar")

ingrese un numero1
el numero es impar

Conversor de Fahrenheit a Celsius

In [ ]:
def fahrenheit_a_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0/9.0
    return celsius
fahrenheit = float(input("Introduce la temperatura en Fahrenheit: "))
celsius = fahrenheit_a_celsius(fahrenheit)
print(f"{fahrenheit} grados Fahrenheit son {celsius:.2f} grados Celsius.")

Introduce la temperatura en Fahrenheit: 75
75.0 grados Fahrenheit son 23.89 grados Celsius.

Conversor [Fahrenheit y Celcius] a kelvin

In [ ]:
def fahrenheit_a_kelvin(fahrenheit):
    kelvin = (fahrenheit - 32) * 5.0/9.0 + 273.15
    return kelvin

def celsius_a_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

escala = input("Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): ").strip().upper()
temperatura = float(input(f"Introduce la temperatura en {escala}: "))

if escala == 'F':
    kelvin = fahrenheit_a_kelvin(temperatura)
elif escala == 'C':
    kelvin = celsius_a_kelvin(temperatura)
else:
    print("Escala no v√°lida.")
    kelvin = None

if kelvin is not None:
 print(f"La temperatura en Kelvin es: {kelvin:.2f} K.")

Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): f
Introduce la temperatura en F: 75
La temperatura en Kelvin es: 297.04 K.

Ejercicio: elevar un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

In [ ]:
num = int(input("Num: "))
print("cuadrado; ", elevarCuadrado(num, 3))

Num: 2
cuadrado;  8

USANDO FUNCIONES LAMBDA.

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos Tarea.

In [ ]:
def raizCuadrada(base, exponente=0.5):
  return base**exponente


serie = [5,4,3,2,6,7,25]
resp = map(raizCuadrada, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907, 5.0]

Ejercicios con funciones preconstruidas en python.

MAP

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla:"))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla:7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo los numeros pares
print("impares: ", list(filter(lambda n: n%2!=0, numeros))) # obtener solo los numeros impares

pares:  [2, 4, 6, 8, 10]
impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [6,7,4,8,9,10,2,3,4]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<=6, notas)))

Aprobados:  [6, 7, 8, 9, 10]
Reprobados:  [6, 4, 2, 3, 4]

REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
numeros = [7,8,9,10,5,1]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

TUPLAS

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "ultimos: ", numeros[-1],
"Rango: 2-6 ", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 ultimos:  7 Rango: 2-6  (7, 9, 5, 4)

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre",
"octubre", "noviembre", "diciembre")

print(semana[dia_semana], dia, " de ", meses[mes], " del ", year)

lunes 29  de  agosto  del  2024

In [ ]:
tuplas = ("lius","juan")
print(tuplas)     #Tulas son inmutables, no puede cambiar su valor.

listas = ["lius","juan"]
listas[0] ="pedro"
print(listas)

('lius', 'juan')
['pedro', 'juan']

LISTAS

In [ ]:
listas = [5,8,7,9, "luis", "jonathan", "ramon"]
print(listas, listas[-1])

[5, 8, 7, 9, 'luis', 'jonathan', 'ramon'] ramon

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["lab2",9], ["parcial", 8] ]
reduce(obtenerNota, matriz, 0)

7.5

In [ ]:
#
numeros = []
for i in range(1,10):
  numeros.append(int(input("num" +str(i)+":")))
num = int(input("num a buscar"))
print("Serie: ", numeros, "el n√∫mero", num,"se repite" , numeros.count(num))

nums= numeros.reverse()
print(nums)

In [ ]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

DICCIONARIOS JSON

In [ ]:
datos = {
    "codigo":"USIS018804",
    "nombre":"Luis Hernandez",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

EJERCICIO ESTRUCTURAS DE CONTROL IF: Solicitar al usuario la edad y determinar su clasificacion.

In [ ]:
edad = int(input("edad: "))
if edad>17:
   print("Bienvenido al mundo de las responsabilidades")

edad: 19
Bienvenido al mundo de las responsabilidades

In [ ]:
continuar = "s"
while continuar=="s":
  edad = int(input("edad: "))
  if edad<=-1:
    print("no as nacido")
  elif edad<=3:
    print("eres un bebe")
  elif edad<=12:
    print("eres un ni√±o")
  elif edad<18:
    print("eres un adolescente")
  elif edad<65:
    print("eres un adulto")
  elif edad<85:
    print("eres un adulto mayor")
  else:
    print("Larga vida")
  continuar = input("continuar s,sino cualquier tecla: ")

edad: 4
eres un ni√±o
continuar s,sino cualquier tecla: s
edad: 6
eres un ni√±o
continuar s,sino cualquier tecla: gh

In [ ]:
numero = float(input("Ingrese un n√∫mero: "))
if numero > 0:
    print("El n√∫mero es positivo.")
elif numero < 0:
    print("El n√∫mero es negativo.")
else:
    print("El n√∫mero es cero")

In [ ]:
continuar = "s"
while continuar=="s":
  tabla = int(input("tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
  continuar = input("continuar s, sino cualquier tecla: ")

tabla: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
continuar s, sino cualquier tecla: y

TAREA DE PYTHON----- Miercoles 21-08-24

1- Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Seg√∫n tabla) e imprima el total deducciones y sueldo neto.

2- Calcular el valor a pagar seg√∫n el n√∫mero de metros consumidos de agua potable

In [ ]:
def calcular_tarifa_agua(metros_consumidos):
    if metros_consumidos <= 0:
        return "No se puede calcular con un valor negativo o cero."
    elif metros_consumidos <= 18:
        return 6.00
    elif 19 <= metros_consumidos <= 28:
        return 6.00 + (metros_consumidos - 18) * 0.45
    else:
        return 6.00 + (28 - 18) * 0.45 + (metros_consumidos - 28) * 0.65

# Solicitar al usuario el n√∫mero de metros consumidos
try:
    metros_consumidos = float(input("Ingresa el n√∫mero de metros de agua consumidos: "))
    tarifa = calcular_tarifa_agua(metros_consumidos)

    if isinstance(tarifa, str):
        print(tarifa)
    else:
        print(f"El total del valor a pagar es: ${tarifa:.2f}")

except ValueError:
    print("Por favor, ingresa un n√∫mero v√°lido.")

3- Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la f√≥rmula matem√°tica para evitar ciclos.

In [ ]:
def meses_acumulados(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]

while True:
    try:
        n = int(input("Ingresa el n√∫mero de meses para calcular la tabla acumulada: "))
        if n > 0:
            break
        else:
            print("Por favor, ingresa un n√∫mero positivo.")
    except ValueError:
        print("Por favor, ingresa un n√∫mero entero v√°lido.")

tabla_acumulada = meses_acumulados(n)

print(f"\nTabla de meses acumulados para {n} meses:")
for i, valor in enumerate(tabla_acumulada, start=1):
    print(f"Mes {i}: {valor}")

4- Conversores: (40%) (10 √≠tems como m√≠nimo por cada uno) ‚Ä¢ Monedas (Resuelto en clases) ‚Ä¢ Longitud ‚Ä¢ Masa ‚Ä¢ Almacenamiento ‚Ä¢ Tiempo ‚Ä¢ Volumen ‚Ä¢ √Årea ‚Ä¢ Manzanas ‚Ä¢ Tareas

LONGITUD

In [ ]:
#Longitud
def convertir_longitud(valor, unidad_origen, unidad_destino):
    unidades = {
        'metros': 1.0,
        'kilometros': 1000.0,
        'centimetros': 0.01,
        'milimetros': 0.001,
        'micrometros': 1e-6,
        'nanometros': 1e-9,
        'millas': 1609.34,
        'yardas': 0.9144,
        'pies': 0.3048,
        'pulgadas': 0.0254,
    }

    try:
        factor_origen = unidades[unidad_origen]
        factor_destino = unidades[unidad_destino]
        return valor * factor_origen / factor_destino
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z]+$", texto))

try:
    # Validaci√≥n solo numeros
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar numeros v√°lidos.")
    valor = float(valor_input)

    # Validaci√≥n escribir letras, no numeros
    unidad_origen = input("Digite la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Digite la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_longitud(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

ALMACENAMIENTO

In [ ]:
#almacenamiento
def convertir_almacenamiento(valor, unidad_origen, unidad_destino):
    unidades = {
        'byte': 1,
        'kilobyte': 0.001,
        'megabyte': 0.000001,
        'gigabyte': 0.000000001,
        'terabyte': 0.000000000001,
        'petabyte': 0.000000000000001,
        'exabyte': 0.000000000000000001,
        'zettabyte': 0.000000000000000000001,
        'yottabyte': 0.000000000000000000000001,
        'bit': 0.125
    }

    try:
        factor_origen = unidades[unidad_origen]
        factor_destino = unidades[unidad_destino]
        return valor * factor_origen / factor_destino
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z]+$", texto))

try:
    # Validaci√≥n del valor como n√∫mero flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un n√∫mero v√°lido.")
    valor = float(valor_input)

    # Validaci√≥n de las unidades como texto sin n√∫meros
    unidad_origen = input("Digite la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Digite la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_almacenamiento(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

MONEDA

In [ ]:
#MONEDAS
import re

def convertir_moneda(valor, moneda_origen, moneda_destino):
    tasas_de_cambio = {
        'dolar': 1,
        'euro': 0.92,
        'quetzal': 7.86,
        'lempira': 24.62,
        'cordoba': 36.56,
        'colonsv': 8.75,
        'coloncr': 535.14,
        'yenes': 145.52,
        'rupias indias': 83.32,
        'libras esterlinas': 0.79,
    }

    try:
        tasa_origen = tasas_de_cambio[moneda_origen]
        tasa_destino = tasas_de_cambio[moneda_destino]
        return valor * (tasa_origen / tasa_destino)
    except KeyError:
        raise ValueError("Moneda de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validaci√≥n del valor como n√∫mero flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un n√∫mero v√°lido.")
    valor = float(valor_input)

    # Validaci√≥n de las monedas como texto sin n√∫meros
    moneda_origen = input("Ingrese la moneda de origen: ").strip().lower()
    if not es_alfabetico(moneda_origen):
        raise ValueError("La moneda de origen debe contener solo letras y espacios.")

    moneda_destino = input("Ingrese la moneda de destino: ").strip().lower()
    if not es_alfabetico(moneda_destino):
        raise ValueError("La moneda de destino debe contener solo letras y espacios.")

    resultado = convertir_moneda(valor, moneda_origen, moneda_destino)
    print(f"{valor} {moneda_destino} son {resultado:.2f} {moneda_origen}")

except ValueError as e:
    print(f"Error: {e}")

MASA

In [ ]:
#Masa
#{1, 0.453592, 453.592, 0.000453592, 453592, 453600000, 0.000446429, 0.0005, 0.0714286, 16}, //Masa
def convertir_masa(valor, unidad_origen, unidad_destino):
    unidades_de_masa = {
        'libra': 1,
        'kilogramo': 0.453592,
        'gramo': 453.592,
        'tonelada': 0.000453592,
        'miligramo': 453592,
        'microgramo': 453600000,
        'tonelada larga': 0.000446429,
        'tonelada corta': 0.0005,
        'stone': 0.0714286,
        'onza': 16
    }

    try:
        tasa_origen_a_destino = unidades_de_masa[unidad_destino] / unidades_de_masa[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validaci√≥n del valor como n√∫mero flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un n√∫mero v√°lido.")
    valor = float(valor_input)

    # Validaci√≥n de las unidades como texto sin n√∫meros
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_masa(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

VOLUMEN

In [ ]:
#Volumen
#{1, 0.264172, 1.05669, 2.11338, 4.16667, 33.814, 67.628, 202.884, 0.001, 1000},
def convertir_volumen(valor, unidad_origen, unidad_destino):
    unidades_de_volumen = {
        'litro': 1,
        'galon usa': 0.264172,
        'cuarto usa': 1.05669,
        'pinta usa': 2.11338,
        'taza usa': 4.16667,
        'onza liquida': 33.814,
        'cuchara usa':67.628 ,
        'cucharadita usa': 202.884,
        'metro cubico': 0.001,
        'milimetro': 1000
    }

    try:
        tasa_origen_a_destino = unidades_de_volumen[unidad_destino] / unidades_de_volumen[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validaci√≥n del valor como n√∫mero flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un n√∫mero v√°lido.")
    valor = float(valor_input)

    # Validaci√≥n de las unidades como texto sin n√∫meros
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_volumen(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

TIEMPO

In [ ]:
#tiempo
# {1, 60, 0.0166667, 0.000694444, 0.000099206, 0.000022831, 0.0000019026, 0.00000019026, 0.00000001903, 60000}, //Tiempo,
def convertir_tiempo(valor, unidad_origen, unidad_destino):
    unidades_de_tiempo = {
        'minuto': 1,
        'segundo': 60,
        'hora': 0.0166667,
        'dia': 0.000694444,
        'semana': 0.000099206,
        'mes': 0.000022831,
        'a√±o':0.0000019026 ,
        'decada': 0.00000001903,
        'siglo': 0.00000001903,
        'milisegundo': 60000
    }

    try:
        tasa_origen_a_destino = unidades_de_tiempo[unidad_destino] / unidades_de_tiempo[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validaci√≥n del valor como n√∫mero flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un n√∫mero v√°lido.")
    valor = float(valor_input)

    # Validaci√≥n de las unidades como texto sin n√∫meros
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_tiempo(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")

AREA

In [ ]:
#Area
def convertir_area(valor, unidad_origen, unidad_destino):
    unidades_de_area = {
        'manzanas': 1,
        'tareas': 16,
        'metro cuadrado': 7000,
        'vara cuadrada': 10000,
        'yarda cuadrada':  8371.93,
        'pie cuadrado': 75.207,
        'hectareas': 0.70,
        'acre':1.729738,
        'milla cuadrada': 0.002702715,
        'pie cuadrado': 75347.37
    }

    try:
        tasa_origen_a_destino = unidades_de_area[unidad_destino] / unidades_de_area[unidad_origen]
        resultado = valor * tasa_origen_a_destino
        return round(resultado, 2)
    except KeyError:
        raise ValueError("Unidad de origen o destino no reconocida.")

def es_flotante(valor):
    try:
        float(valor)
        return True
    except ValueError:
        return False

def es_alfabetico(texto):
    return bool(re.match("^[a-zA-Z\s]+$", texto))

try:
    # Validaci√≥n del valor como n√∫mero flotante
    valor_input = input("Ingrese el valor a convertir: ")
    if not es_flotante(valor_input):
        raise ValueError("Debe ingresar un n√∫mero v√°lido.")
    valor = float(valor_input)

    # Validaci√≥n de las unidades como texto sin n√∫meros
    unidad_origen = input("Ingrese la unidad de origen: ").strip().lower()
    if not es_alfabetico(unidad_origen):
        raise ValueError("La unidad de origen debe contener solo letras.")

    unidad_destino = input("Ingrese la unidad de destino: ").strip().lower()
    if not es_alfabetico(unidad_destino):
        raise ValueError("La unidad de destino debe contener solo letras.")

    resultado = convertir_area(valor, unidad_origen, unidad_destino)
    print(f"{valor} {unidad_origen} son {resultado} {unidad_destino}")

except ValueError as e:
    print(f"Error: {e}")