<a href="https://colab.research.google.com/github/Naquielrayne74/prograIII_2024_Semi/blob/main/Fundamentos_de_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
nombre = "Nahun Martinez"

print("hola", nombre, ", inicial: ", nombre[0], nombre[6])

hola mundo
hola Nahun Martinez , inicial:  N M

EJERCICIO, crear un programa en python que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en python que sume dos numeros intriducidos por el usuario

In [ ]:
print("ingrese el primer numero")
num1 = float(input())

print("ingrese el segundo numero")
num2 = float(input())

resp = num1 + num2
print("la suma es: ", resp)

ingrese el primer numero
2
ingrese el segundo numero
4
la suma es:  6.0

In [ ]:
#tipos de datos
num1 = 5
num2 = 5.9

nombre = "Nahun Martinez"
print(nombre[0:5], nombre[:5], nombre[-2], nombre[5:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado))

Nahun Nahun e  Martinez

EJERCICIO, cree un programa en python que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero"))
if num % 2 == 0:
  print ("el numero es par", num)
else:
  print("el numero es impar")

ingrese un numero1
el numero es impar

Conversor de Fahrenheit a Celsius

In [ ]:
def fahrenheit_a_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5.0/9.0
    return celsius
fahrenheit = float(input("Introduce la temperatura en Fahrenheit: "))
celsius = fahrenheit_a_celsius(fahrenheit)
print(f"{fahrenheit} grados Fahrenheit son {celsius:.2f} grados Celsius.")

Introduce la temperatura en Fahrenheit: 75
75.0 grados Fahrenheit son 23.89 grados Celsius.

Conversor [Fahrenheit y Celcius] a kelvin

In [ ]:
def fahrenheit_a_kelvin(fahrenheit):
    kelvin = (fahrenheit - 32) * 5.0/9.0 + 273.15
    return kelvin

def celsius_a_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

escala = input("Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): ").strip().upper()
temperatura = float(input(f"Introduce la temperatura en {escala}: "))

if escala == 'F':
    kelvin = fahrenheit_a_kelvin(temperatura)
elif escala == 'C':
    kelvin = celsius_a_kelvin(temperatura)
else:
    print("Escala no v√°lida.")
    kelvin = None

if kelvin is not None:
 print(f"La temperatura en Kelvin es: {kelvin:.2f} K.")

Introduce la escala de la temperatura (F para Fahrenheit, C para Celsius): f
Introduce la temperatura en F: 75
La temperatura en Kelvin es: 297.04 K.

Ejercicio: elevar un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0, exponente=2):
  return base**exponente

In [ ]:
num = int(input("Num: "))
print("cuadrado; ", elevarCuadrado(num, 3))

Num: 2
cuadrado;  8

USANDO FUNCIONES LAMBDA.

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

Ejercicio: obtener la raiz cuadrada de una serie de numeros fijos Tarea.

In [1]:
def raizCuadrada(base, exponente=0.5):
  return base**exponente


serie = [5,4,3,2,6,7,25]
resp = map(raizCuadrada, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907, 5.0]

EJERCICIO: obtener la raiz cuadrada de una serie de numeros fijos.

Ejercicios con funciones preconstruidas en python.

MAP

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print(list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
ntabla = int(input("Tabla:"))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla:7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("pares: ", list(filter(lambda n: n%2==0, numeros))) #obtener solo los numeros pares
print("impares: ", list(filter(lambda n: n%2!=0, numeros))) # obtener solo los numeros impares

pares:  [2, 4, 6, 8, 10]
impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [6,7,4,8,9,10,2,3,4]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<=6, notas)))

Aprobados:  [6, 7, 8, 9, 10]
Reprobados:  [6, 4, 2, 3, 4]

REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
numeros = [7,8,9,10,5,1]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

TUPLAS

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "ultimos: ", numeros[-1],
"Rango: 2-6 ", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 ultimos:  7 Rango: 2-6  (7, 9, 5, 4)

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia: ",semana[0], "; Cuantas veces repite domingo: ",semana.count("domingo"), "; dias de la seman: ", len(semana))

Primer dia:  domingo ; Cuantas veces repite domingo:  1 ; dias de la seman:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre",
"octubre", "noviembre", "diciembre")

print(semana[dia_semana], dia, " de ", meses[mes], " del ", year)

lunes 29  de  agosto  del  2024

In [ ]:
tuplas = ("lius","juan")
print(tuplas)     #Tulas son inmutables, no puede cambiar su valor.

listas = ["lius","juan"]
listas[0] ="pedro"
print(listas)

('lius', 'juan')
['pedro', 'juan']

LISTAS

In [ ]:
listas = [5,8,7,9, "luis", "jonathan", "ramon"]
print(listas, listas[-1])

[5, 8, 7, 9, 'luis', 'jonathan', 'ramon'] ramon

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [ ]:
matriz = [ ["Lab1", 8],["lab2",9], ["parcial", 8] ]
reduce(obtenerNota, matriz, 0)

7.5